@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color:#d08df2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-image: url('../../public/background.jpg');
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in-left {
  opacity: 0;
  left: -100%; /* Start off-screen to the left */
  position: relative;
  animation: slideInLeftAnimation 0.5s ease-in forwards;
}

@keyframes slideInLeftAnimation {
  from {
    left: -100%;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.slide-in-right {
  opacity: 0;
  left: 100%; /* Start off-screen to the right */
  position: relative;
  animation: slideInRightAnimation 0.5s ease-in forwards;
}

@keyframes slideInRightAnimation {
  from {
    left: 100%;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}



.content {
  width: 30em;
  height: 30em;
  border: 2px solid #5c1385;
  border-radius: 15px;
  background: linear-gradient(to right, #250745, #1f0d33);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  text-align: center;
  text-justify: inter-word;
  justify-content: space-between;
}

.title {
  color:#d08df2;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p{
  margin: 10px 0 ;
  color:#FFF;
  font-size: 15px;
}

