
:root {
  --main-color:#d08df2;
}

body {
  background-image: url('../../public/background.jpg');
  background-size: cover;  /* or 'contain' based on your preference */
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: hidden;
}

a {
  text-decoration: none ;
  font-size: 18px;
}

a::after{
  outline: none;
}
/* Usefull classes */
.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clickable {
  cursor: pointer;
}

.b {
  font-weight: bold;
}

/* Animations */
.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in-left {
  opacity: 0;
  left: -100%; /* Start off-screen to the left */
  position: relative;
  animation: slideInLeftAnimation 0.5s ease-in forwards;
}

@keyframes slideInLeftAnimation {
  from {
    left: -100%;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.slide-in-right {
  opacity: 0;
  left: 100%; /* Start off-screen to the right */
  position: relative;
  animation: slideInRightAnimation 0.5s ease-in forwards;
}

@keyframes slideInRightAnimation {
  from {
    left: 100%;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}


/* Recurrent components */
.content {
  width: 25rem;
  height: 25rem;
  border: 2px solid #5c1385;
  border-radius: 15px;
  background: linear-gradient(to right, #250745, #1f0d33);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  text-align: center;
  text-justify: inter-word;
  justify-content: space-between;
}

.title {
  color:#d08df2;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p{
  margin: 10px 0 ;
  color:#FFF;
  font-size: 15px;
}

.button{
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #FF9F00);
  color:#FFF;
  border:1px solid #5c1385;
  border-radius:15px;
  padding:10px;
  margin-bottom:20px;
}