.container {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 5em;
    color: var(--main-color);
    font-weight: bold;
    position: fixed;
    top:30px;
    transition: all 0.3s ease;
}

.selected {
    transform: scale(1.4); /* Scale selected option */
    transition: transform 0.3s ease;
}   